.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    max-width: 830px;
    text-align: center;
    font-size: 62px;
    line-height: 75px;
    font-weight: 800;
    margin-bottom: 200px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 50px;
    margin-bottom: 50px;

    .right {
      width: 30%;

      img {
        width: 118px;
        height: 30px;
        margin-bottom: 25px;
      }

      p {
        color: #fff;
        font-size: 12px;
        max-width: 170px;
      }
    }

    .left {
      display: flex;
      flex: 1;
      justify-content: space-around;
      color: #fff;

      .content {
        max-width: 150px;

        h2 {
          margin-bottom: 36px;
          font-size: 16px;
        }
        div {
          display: flex;
          font-size: 14px;
          flex-direction: column;
          gap: 26px;
        }
      }
    }
  }

  span {
    color: #fff;
    font-size: 12px;
    user-select: none;
  }
}

@media screen and (max-width: 980px) {
  .footer {
    .heading {
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 100px;
    }

    .wrapper {
      gap: 50px;
      padding: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .footer {
    .wrapper {
      flex-direction: column;
      align-items: center;

      .right {
        text-align: center;

        p {
          max-width: 200px;
        }
      }

      .left {
        width: 100%;
      }
    }
  }
}
